.item {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 600px) {
  .item {
    flex-direction: row;
  }
}

.item span {
  margin-right: 0.3rem;
}

.image {
  width: 20%;
  height: auto;
  overflow: hidden;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  margin-right: 2rem;
}

.image img {
  width: 100%;
  object-fit: cover;
  border-radius: 20rem;
}
